.table {
  border: 1px solid rgb(222, 226, 230);
}

.carousel {
  background-color: #bf382a;
  padding-top: 1em;
  font-size: 1em;
  color: #fff;
}

.required {
  font-weight: bold;
}

.menuItem {
  margin: 10px 0;
}
